@font-face {
    font-family: "Game of Trhones";
    src: url(../css/Game\ of\ Thrones.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Playball&display=swap');




body {
    background-image: url(../img/fondo\ desktop.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-color: black;
}

.logo_ {

    padding-left: 30px;
    padding-top: 20px;

}
.navbar-brand:hover {

    transition: 0.5s;
    /* border-radius: 30px; */

}

.navbar {
    background-color: black;
}


.nav-item {
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Zen Old Mincho', serif;

}
.nav-item:hover {
    font-size: 20px;
    background-color: rgba(16, 15, 15, 0.755);
    /* color: rgb(255, 184, 5); */
    transition: 0.5s;
    /* border-radius: 30px; */


}
h1 {
  padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Adamina', serif;
    color: seashell;
    font-size: 50px;

}




/* ---------------------------------------------------------------------MOVILE--------------------------------------------------------------- */


@media (max-width:780px) {


    body {

        background-image: url(../img/fondo\ movil.gif);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }


    h1 {
     
      font-size: 30px;
      
      }
      

}