@font-face {
    font-family: "Game of Trhones";
    src: url(../css/Game\ of\ Thrones.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Playball&display=swap');


body {
    background-image: url(../img/fondeo\ desktop_nieve\ 3.gif);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.logo_ {

    padding-left: 30px;
    padding-top: 20px;

}

.navbar-brand:hover {

    transition: 0.5s;
    /* border-radius: 30px; */

}

.navbar {
    background-color: black;
}


.nav-item {
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Zen Old Mincho', serif;
}


.nav-item:hover {
    font-size: 20px;
    background-color: rgba(16, 15, 15, 0.755);
    /* color: rgb(255, 184, 5); */
    transition: 0.5s;
    /* border-radius: 30px; */


}


h1 {
    text-align: center;
    letter-spacing: 5px;
    font-family: "Game of Trhones";
    font-size: 29px;
    color: white;
    padding-top: 40px;
    padding-left: 0px;
    padding-bottom: 30px;
    margin: 0px;
}


h2 {
    font-size: 24px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-family: 'Zen Old Mincho', serif;

}


.row {
    /* border: 1px solid white; */

    background-color: rgba(24, 23, 23, 0.378);
    /* border-radius: 30px; */
}

.borde__column1 {

    margin: 0px;


    padding-left: 0px;
    padding-right: 0px;
    color: white;
    /* border: 1px solid white; */


}

.borde__column2 {
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    border: 1px solid white;
}

.img_personaje {
    width: 100%;
    height: auto;
}




/* ---------------------------------------------------------mobile------------------------------------ */




@media (max-width:768px) {

  

    .container {
        padding-top: 50px;
    }
}